body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
 

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #c9a2d2;
  padding: 12px 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
}

nav a {
  margin-right: 12px;
  text-decoration: none;
  color: #222;
}

main {
  margin-top: 70px;
  padding: 16px;
}

footer {
  background: #84597d;
  text-align: center;
  padding: 12px 16px;
  font-size: 14px;
  color: #ffffff;
}
